*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 1.25;
    background-color: $bg-1;
    color: $text-color;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17;
    color: $text-color;
    text-transform: uppercase;
}

.big__title {
    font-size: 64px;
    line-height: 1.17;

    @media screen and (max-width: 767.98px) {
        font-size: 50px;
    }
}

.small__title {
    font-size: 36px;
    line-height: 1.11;
}

.text {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.paragraph {
    font-size: 18px;
    line-height: 1.39;
}

.pd_40 {
    padding: 40px 0;

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

.pd_60 {
    padding: 60px 0;

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

.pd_80 {
    padding: 96px 0 65px 0;

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

.pd_120 {
    padding: 120px 0;

    @media screen and (max-width: 1024px) {
        padding: 50px 0;
    }

    @media screen and (max-width: 767.98px) {
        padding: 30px 0;
    }
}